body{
background-color:rgb(171, 179, 182);
}
.fondo{
  display: flex;
  flex-direction:column;
  background-color:rgb(22, 179, 182);
  align-items:center;
  justify-content:center;
  margin:147px;
  gap:22px;
  
  
 }
.scheda{
  display: flex;
  background-color: white;
  border-radius: 20px;
  height:654px;
  width:582px;
  font-size: 16px;
  font-family: verdana;
  justify-content:center;
  flex-wrap:wrap;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.1);
}

.video{
  display: flex;
  
    }
 
.buttons{
  display: flex;
  background-color:pink;
  flex-direction:row;
  align-item:center;
  gap:22px;
}


.button_left{
  display: flex;
  background-color: white;
  height: 92px;
  width: 276px;
  border: none;
  border-radius: 8px;
  color: black;
  font-size: 16px;
  font-family: verdana;
  align-items:center;
  justify-content:center;
  cursor: pointer;
  box-shadow: 8px 8px 5px rgba(0,0,0,0.1);
  }

.button_right{
  display: flex;
  background-color: white;
  height: 92px;
  width: 276px;
  border: none;
  border-radius: 8px;
  color: black;
  font-size: 16px;
  font-family: verdana;
  align-items:center;
  justify-content:center;
  cursor: pointer;
  box-shadow: 8px 8px 5px rgba(0,0,0,0.1);
  }