@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body{
background-color:#518C31;
font-family: 'Nunito', sans-serif;
margin:0;

}

.fondo{
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  align-items:center;
  justify-content:center;
  gap:2vh;
  padding:5vh;
  height:80vh;

 }
  
#logo{
width:40%;
}	

.start{
  background-color:#FFF9F0;
  padding:2%;
  width: 17%;
  border: none;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  box-shadow: 8px 8px 5px rgba(0,0,0,0.1);
  font-size:24px;
  text-align:center;
}

.start:active{
  background-color: #FFF9F0;
  padding:2%;
  width: 17%;
  border: none;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  box-shadow: 8px 8px 5px rgba(0,0,0,0.1);
  font-size:24px;
  transform: translateY(4px);
  text-align:center;
  }
  



@media screen and (max-width: 767px){
	 #logo{
 width:50%;
 }
 
 .start{
	 width: 17%;
	font-size:22px; 
 }
}


@media screen and (max-width: 480px){
	
 #logo{
 width:80%;
 }
 
 .start{
	 width: 24%;
	font-size:16px; 
 }
}